.CryptocurrencyDetail-page {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;

  .header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }

  .body {
    display: flex;
    justify-content: center;

    .currency-info {
      background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);
      border-radius: 10px;
      padding: 20px;
      width: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;

      .currency-logo {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }

      .currency-price-change {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .currency-price {
          font-size: 1.5em;
          font-weight: bold;
        }

        .currency-change {
          font-size: 1.2em;
          margin-left: 10px;

          &.positive {
            color: #4caf50;
          }

          &.negative {
            color: #f44336;
          }
        }
      }

      .currency-chart {
        width: 100%;
        height: auto;
        opacity: 0.8;
        margin-bottom: 20px;

        &.positive {
          filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
        }

        &.negative {
          filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
        }
      }

      .currency-description {
        margin-bottom: 20px;
      }

      .currency-website {
        a {
          color: #ff4081;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
