.Favorites-page {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;

  .header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }

  .body {
    .loading{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: #696287;
    }

    .favorites-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      .currency-card {
        flex-grow: 1;
        background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);
        border-radius: 10px;
        padding: 20px;
        width: 25%;
        height: 25%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;

        .currency-header {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .currency-name {
            font-size: 1.5em;
            font-weight: bold;
            align-self: start;
          }

          .currency-price-change {
            margin-left: auto;

            &.positive {
              color: #4caf50;
            }

            &.negative {
              color: #f44336;
            }

            .currency-price {
              font-size: 1.5em;
              font-weight: bold;
              margin-left: 10px;
            }

            .currency-change {
              margin-left: auto;
              margin-top: 10px;
              font-size: 1.2em;
            }
          }

          .currency-symbol {
            margin-top: 10px;
            margin-left: 10px;
            font-weight: bold;
            border-radius: 50%;
            width: 60px;
            height: 60px;

            img {
              object-fit: cover;
              width: 60px;
              height: 60px;
            }
          }
        }

        .currency-chart {
          width: 80%;
          height: 40%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.8;

          &.positive {
            filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
          }

          &.negative {
            filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
          }
        }

        .unfavorite-button {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 1px;
          background-color: #ff4081;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
