.Home-page {
    display: flex;
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
    background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);
    margin: 0;
    padding: 0;
}

.left-side {
    position: relative;
    display: flex;
}

.sidebar {
    position: relative;
    width: 16vw;
    min-width: 100px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.55);
    overflow: hidden;
}

.project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1288E8;
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.project-title::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #1288E8;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 2em;
    margin-top: 1em;
    max-height: calc(100% - 120px);
}


.menu-link {
    font-size: 1.5vw;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #616A8B;
    text-decoration: none;
    background: transparent;
    transition: background-color 0.3s;
}

.menu-link img {
    margin-right: 10px;
    width: 1.5vw;
    filter: brightness(0) saturate(100%) invert(38%) sepia(9%) saturate(748%) hue-rotate(170deg) brightness(89%) contrast(91%);
}

.menu-link.active {
    position: relative;
    background-color: #32395E;
    color: #FFFFFF;
}

.menu-link.active img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.menu-link.active::before {
    content: "";
    display: block;
    height: 1px;
    width: 85%;
    background-color: #1288E8;
    position: absolute;
    top: 85%;
    left: 7%;
}

.profile-section {
    position: absolute;
    margin-top: auto;
    bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5vw;
    color: #616A8B;
}

.profile-icon {
    min-width: auto;
    width: 3.5vw;
    height: 3.5vw;

    border-radius: 50%;
    box-shadow: inset 0 0 0 0.27vh #5FB2FF;
    margin-right: 10px;
}


.logout-button {
    align-items: center;
    display: flex;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background: transparent;
    text-decoration: none;
    color: #616A8B;
    font-size: 1.5vw;
}

.logout-button img {
    width: 2.5vw;
    margin-right: 1vw;
    filter: brightness(0) saturate(100%) invert(38%) sepia(9%) saturate(748%) hue-rotate(170deg) brightness(89%) contrast(91%);
}



.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid #2D317A;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.search-field {
    flex-basis: 30%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 1em;
    font-size: 1em;
    background: #32395E;
    color: #333;
}

.notifications, .messages {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5em;
    display: flex;
}

.notifications-counter, .messages-counter {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #0097E8;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 0.7em;
    min-width: 15px;
    text-align: center;
}

.notifications {
    margin-left: auto;
}

.content {
    flex-grow: 1;
}